{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Login</h1>
</div>

<div class="card-body" style="background: linear-gradient(to bottom, #BFAFA0 0%, #23345C 100%);">
    <form method="POST">
        {% csrf_token %}
        <label>{{form.as_p}}</label>
        <input class="button" type="submit" value="Login">
    </form>
    <p style="color: #BFAFA0;">Don't have an account? <a style="color: #BFAFA0;" href="{% url 'register' %}">Register</a></p>
</div>



{% endblock content %}
© 2021 GitHub, Inc.